<div [class.green]="user?.license?.isValid()" class="card center">
  <div class="user-card">
    <div class="typeLicense center">
      {{user?.license?.type}}
    </div>
    <div class="timeLeft center">
      {{user?.license?.getTimeLeft()}}
    </div>
  </div>
  <div class="card-info">
    <h2 class="text-center font-italic">Health License</h2>
    <div class="coords">
      <span><small>Lastname: </small><b>{{user?.lastName}}</b></span>
      <span><small>Firstname: </small><b>{{user?.firstName}}</b></span>
    </div>
    <div class="coords">
      <span><small>Birth: </small><b>{{user?.birth|date:'YYYY/MM/dd'}}</b></span>
      <span><small>Sex: </small> <b>{{user?.sex}}</b></span>
    </div>
    <div class="coords">
      <span class="small d-block font-weight-bold text-uppercase">{{user?.address|address}}</span>
    </div>
    <div class="coords">
      <span><small>Valid: </small><b>{{user?.license?.dateCreation|date:'YYYY/MM/dd'}}</b></span>
      <span><small>Expire: </small><b>{{user?.license?.dateExpire|date:'YYYY/MM/dd'}}</b></span>
    </div>
  </div>
</div>
