@import url('https://fonts.googleapis.com/css?family=Abel');

.small {
  white-space: pre;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  height: 250px;
  background: #fff linear-gradient(#ece9e9, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
}

.card.green .user-card {
  background: linear-gradient(#92bCa6, #A2CCB6);
}

.card .user-card {
  background: linear-gradient(#dE685E, #EE786E);
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 150px;
  height: 100%;
  float: left;
}


.card .user-card .typeLicense,
.card .user-card .timeLeft {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .user-card .timeLeft {
  top: 85%;
}

.card-info h2 {
  margin-bottom: 10px;
}

.coords {
  margin: 0 1rem;
  font-size: 1rem;
}

.coords span + span {
  float: right;
}

.card .card-info {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
}
