.user-card-full {
  overflow: hidden;
  background: var(--white);
}

.small {
  white-space: pre;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
  user-select: none;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-blue {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-primary)), to(var(--color-secondary)));
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary))
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h5 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 15px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.deleteBtn {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

h1 {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
}


#licenseSection {
  background: var(--white);
  padding: 8px 0;
}

#licenseSection .card {
  background-color: var(--background-color-primary);
  margin: 0 -8px 32px -8px;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

#licenseSection .card .card-title {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: 0;
}

.card-data {
  display: grid;
  justify-content: end;

  text-transform: capitalize;
  padding: 10px 16px 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.card-data:first-child {
  justify-content: start;
}

#licenseSection .card hr {
  width: 90%;
}

.card-interaction a {
  margin-right: 15px;
}

#licenseSection .card .card-interaction {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 8px 8px;
  font-size: 0.9rem;
  font-weight: 300;
}

#licenseSection .card .card-icon {
  display: flex;
  position: absolute;
  top: -20px;
  left: 12px;
  background: linear-gradient(60deg, var(--color-secondary), var(--color-primary));
  color: white;
  width: 90px;
  height: 90px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}

#licenseSection .card .card-icon i {
  font-size: 4rem;
}

#licenseSection #licenseCard .card-icon {
  background: linear-gradient(60deg, var(--color-secondary), var(--color-primary));
}

#licenseSection #licenseCard .card-icon.expired {
  background: linear-gradient(60deg, #e73434, #a01010);
}



