<div class="row d-flex justify-content-center mt-5">
  <div class="col-xl-6 col-md-12">
    <div class="card user-card-full">
      <div class="row">
        <div class="col-sm-4 bg-c-lite-blue user-profile">
          <div class="card-block text-center text-white">
            <div class="m-b-25"><img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                                     alt="User-Profile-Image"></div>
            <h6 class="f-w-600">{{user?.firstName + " " + user?.lastName}}</h6>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card-block">
            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
            <div class="row">
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Email</p>
                <h6 class="text-muted f-w-400">{{user?.email}}</h6>
              </div>
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Password <small class="btn-link"><a (click)="updatePassword()">change</a></small></p>
                <h6 class="text-muted f-w-400">********</h6>
              </div>
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Nassm</p>
                <h6 class="text-muted f-w-400">{{user?.noAssuranceMaladie|hiddenNassm}}</h6>
              </div>
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Phone <small class="btn-link"><a (click)="updatePhone()">change</a></small></p>
                <h6 class="text-muted f-w-400">{{user?.phone|phone}}</h6>
              </div>
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Birth</p>
                <h6 class="text-muted f-w-400">{{user?.birth|date}}</h6>
              </div>
              <div class="col-sm-6">
                <p class="m-b-10 f-w-600">Address <small class="btn-link"><a (click)="updateAddress()">change</a></small></p>
                <h6 class="text-muted f-w-400">
                  <span class="small d-block text-uppercase">{{user?.address|address}}</span>
                </h6>
              </div>
            </div>
            <h6 class="mt-2 b-b-default f-w-600">Active License</h6>
            <div class="row mt-4" id="portfolio">
              <div class="col-12">
                <div class="card" id="licenseCard">
                  <div class="card-title">Used space</div>
                  <div [class.expired]="isExpired" class="card-icon"><i
                    [class]="{'fa-vial':!isVaccine,'fa-syringe':isVaccine}"
                    class="fas"></i>
                  </div>
                  <div class="card-data">{{user?.license|timeleft}}</div>
                  <hr/>
                  <div class="card-hint">
                    <a *ngIf="isExpired" class="btn btn-danger" (click)="renew()">Renew</a>
                    <a *ngIf="!isExpired" class="btn btn-primary" (click)="sendCopy()">Send new email</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
