<input type="checkbox" id="main-navigation-toggle" class="btn btn--close position-fixed mt-0"
       title="Toggle main navigation"/>
<label for="main-navigation-toggle">
  <span></span>
</label>

<nav id="main-navigation" class="nav-main">
  <ul class="menu">

    <li class="menu__item" *ngIf="service.isLoggedIn()">
      <a class="menu__link">Home</a>
    </li>
    <li class="menu__item" *ngIf="service.isLoggedIn()">
      <a class="menu__link" routerLink="/logout">Disconnect</a>
    </li>
    <li class="menu__item" *ngIf="!service.isLoggedIn()">
      <a class="menu__link">Log in</a>
    </li>
    <li class="menu__item" *ngIf="!service.isLoggedIn()">
      <a class="menu__link">Register</a>
    </li>
  </ul>
</nav>
