<form class="form-sign_in" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="phone" class="sr-only">Phone</label>
    <input class="form-control" formControlName="phone" id="phone" placeholder="Phone Number"
           type="tel">
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-9">
        <label for="street" class="sr-only">Street</label>
        <input class="form-control" formControlName="street" id="street" placeholder="Street"
               type="text">
      </div>
      <div class="col-md-3">
        <label for="apt" class="sr-only">Apartment</label>
        <input class="form-control" formControlName="apt" id="apt" placeholder="Apt"
               type="text">
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <label for="city" class="sr-only">City</label>
        <input class="form-control" formControlName="city" id="city" placeholder="City"
               type="text">
      </div>
      <div class="col-3">
        <select class="form-control" formControlName="province" id="province">
          <option id="selectProvince" value="" disabled hidden selected>Province</option>
          <option *ngFor="let item of keys()" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="col-3">
        <label for="zipCode" class="sr-only">ZipCode</label>
        <input class="form-control" formControlName="zipCode" id="zipCode" placeholder="Zip"
               type="text" maxlength="7">
      </div>
    </div>
  </div>
  <input name="login" id="login" class="btn btn-block form-btn mb-4" type="submit" value="Register">
</form>
