@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
  --background-color-primary: #caddff;
  --background-color-secondary: #75757c;
  --color-dark: #030d24;
  --color-light: #f5f5f5;
  --font-family-primary: 'Montserrat', sans-serif;

  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);

  --color-primary: #039BE5;
  --color-secondary: #0727BAFF;

  /* COLORS */
  --white: #e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #007BFFFF;

  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 1000px;
  --max-height: 600px;

  font-size: 16px;
}

html, body {
  height: 100%;
}
body{
  color: var(--color-dark);
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background-color-primary);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}


.text-primary {
  color: var(--color-primary) !important;
}

.btn-link {
  color: var(--color-primary) !important;
}

.btn-link:hover {
  color: var(--color-secondary) !important;
}

.btn-primary {
  background: var(--color-primary) !important;
}
.btn-primary:hover {
  background: var(--color-secondary) !important;
}

.brand-wrapper {
  margin-bottom: 19px;
}

.brand-wrapper .logo {
  height: 50px;
  /*viewBox="0 0 100 100";*/
}

.form-card {
  border: 0;
  border-radius: 28px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}

.form-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form-card .card-body {
  padding: 60px 0 60px 60px;
}

@media (max-width: 422px) {
  .form-card .card-body {
    padding: 35px 24px;
  }
}

.form-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px;
}

.form-card form {
  max-width: 326px;
}

.form-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal;
}

.form-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}

.form-card .form-control::-moz-placeholder {
  color: #919aa3;
}

.form-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}

.form-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}

.form-card .form-control::placeholder {
  color: #919aa3;
}

.form-card .form-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
}

.form-card .form-btn:hover {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.form-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}

.form-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .form-card-footer-text {
    margin-bottom: 24px;
  }
}

.form-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}

/* Swal */
button.swal2-confirm {
  background-color: var(--color-primary) !important;
  font-weight: bold !important;
}

button.swal2-deny {
  color: var(--color-primary) !important;
  background-color: transparent !important;
  font-weight: bold !important;
}
